<div class="pokemon-card">

  <div class="card-text">
    <img class="pokelogo" ngSrc="./assets/Logo-pokemon.png" width="483.68" height="402.94">
   <a class="form" href="#formcomponent"> <app-button-play >Formulário</app-button-play></a> </div>

  <div class="pokeimg">
    <img class="blastoise" ngSrc="./assets/blastoise.png" width="455.68" height="266.94">
    <img class="charizard" ngSrc="./assets/charizard.png" width="455.68" height="266.94">
    <img class="Venusaur" ngSrc="./assets/Venusaur.png" width="455.68" height="266.94">
  </div>
</div>

